<div class="container main">
  <h2>Assess a Market<span id="market-name"></span></h2>

  {{> pre-assess}}

  <form id="assessment-form" class="d-none" onsubmit="submitAssessment(); return false;">

    <ol id="assessment-q-list">
    {{#each questions}}

      {{#if sectionBreak}}
        <h4 class="section-break-title">{{title}}</h4>
      {{/if}}

      {{#unless sectionBreak}}
      <li>
        <div class="form-group">

        <p {{#if required}}class="question-title required-input"{{/if}}>{{title}}</p>

        {{#ifEquals type 'open'}}
          <div class="answers">
            <input class="form-control" type="text" name="{{title}}" {{#if required}}required{{/if}}>
          </div>
        {{/ifEquals}}

        {{#ifEquals type 'yn'}}
          <div class="answers">
            {{#each choices}}
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" name="{{../title}}" id="{{choice}}-{{@../index}}" class="custom-control-input" value="{{choice}}" {{#if ../required}}required{{/if}}>

                <label class="custom-control-label" for="{{choice}}-{{@../index}}">{{choice}}</label>

                <input class="points-input" type="hidden" name="points" value="{{level}}" disabled>
              </div>
            {{/each}}
          </div>
        {{/ifEquals}}

        {{#ifEquals type 'range'}}
          <div class="answers">
            {{#each choices}}
              <div class="custom-control custom-radio">
                <input type="radio" name="{{../title}}" id="{{choice}}-{{@../index}}" class="custom-control-input" value="{{choice}}" {{#if ../required}}required{{/if}}>

                <label class="custom-control-label" for="{{choice}}-{{@../index}}">{{choice}}</label>

                <input class="points-input" type="hidden" name="points" value="{{level}}" disabled>
              </div>
            {{/each}}
          </div>
        {{/ifEquals}}

        {{#ifEquals type 'quality'}}
          <div class="answers">
            {{#each choices}}
              <div class="custom-control custom-radio">
                <input type="radio" name="{{../title}}" id="{{choice}}-{{@../index}}" class="custom-control-input" value="{{choice}}" {{#if ../required}}required{{/if}}>

                <label class="custom-control-label" for="{{choice}}-{{@../index}}">{{choice}}</label>

                <input class="points-input" type="hidden" name="points" value="{{level}} disabled">
              </div>
            {{/each}}
          </div>
        {{/ifEquals}}

        </div>
      </li>
      {{/unless}}
    {{/each}}
    </ol>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script type="text/javascript" src="js/assess.js"></script>
