<div class="container main">

  <h2>Market Assessment</h2>

  <div class="text-right">
    <a href="/assess-edit"><button type="button" class="btn btn-secondary">Edit </button></a>
  </div>

  <form onsubmit="submitAssessment(); return false;">
    <ol id="assessment-q-list">
    {{#each questions}}

      {{#if sectionBreak}}
        <h4 class="section-break-title">{{title}}</h4>
      {{/if}}

      {{#unless sectionBreak}}
      <li>
        <div class="form-group">

        <p>{{title}}{{#if required}}<span class="red"> *</span>{{/if}}</p>

        {{#ifEquals type 'open'}}
          <input class="form-control" type="text" name="{{title}}" {{#if required}}required{{/if}}>
        {{/ifEquals}}

        {{#ifEquals type 'yn'}}
          {{#each choices}}
            <input type="radio" name="{{../title}}" value="{{concat level choice}}" {{#if ../required}}required{{/if}}>&nbsp;{{choice}}&nbsp;&nbsp;
          {{/each}}
        {{/ifEquals}}

        {{#ifEquals type 'range'}}
          <ul class="mc-choices-list">
            {{#each choices}}
              <li>
                <input type="radio" name="{{../title}}" value="{{concat level choice}}" {{#if ../required}}required{{/if}}>&nbsp;{{choice}}
              </li>
            {{/each}}
          </ul>
        {{/ifEquals}}

        {{#ifEquals type 'quality'}}
          <ul class="mc-choices-list">
            {{#each choices}}
              <li>
                <input type="radio" name="{{../title}}" value="{{concat level choice}}" {{#if ../required}}required{{/if}}>&nbsp;{{choice}}
              </li>
            {{/each}}
          </ul>
        {{/ifEquals}}

        </div>
      </li>
      {{/unless}}
    {{/each}}
    </ol>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<script type="text/javascript" src="js/assess-submit.js"></script>
