<div class="container main">

<h2>Market Assessment</h2>
<a href="/assess-edit"><button type="button" class="btn btn-secondary">Edit Form</button></a>
<form onsubmit="submitAssessment(); return false;">
  <ol class="assessment-q-list">
  {{#each questions}}
    <li>
      <div class="form-group">

      <h6>{{title}}{{#if required}}<span class="red"> *</span>{{/if}}</h6>

      {{#if open}}
        <input class="form-control" type="text" name="{{title}}" {{#if required}}required{{/if}}>
      {{/if}}

      {{#if yn}}
        <input type="radio" name="{{title}}" value="yes" {{#if required}}required{{/if}}>&nbsp;Yes&nbsp;&nbsp;&nbsp;
        <input type="radio" name="{{title}}" value="no">&nbsp;No
      {{/if}}

      {{#if mc}}
        <ul class="mc-choices-list">
          {{#each choices}}
            <li>
              <input type="radio" name="{{../title}}" value="{{this}}" {{#if ../required}}required{{/if}}>&nbsp;{{this}}
            </li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if weight}}
        <input type="hidden" name="weight" value="{{weight}}">
      {{/if}}

      {{#unless weight}}
        <input type="hidden" name="weight" value="null">
      {{/unless}}

      </div>
    </li>
  {{/each}}
  </ol>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

<script type="text/javascript" src="js/submit-form.js"></script>
