<div class="container main">
  <!--
  <div class="container">
    <form id="testing-form" onsubmit="submitData(); return false;">
      <label> Do Something</label>
      <input name="testing" id="inputField">
      </input>
      <div>
        <button> Submit</button>
      </div>
    </form>
  </div>
  <div id="results">
  </div>
  <h2>Market Assessment<span id="market-name"></span></h2>
-->
  {{> pre-assess}}

  <form id="assessment-form" class="d-none" onsubmit="submitAssessment(); return false;">

    <ol id="assessment-q-list">
    {{#each questions}}

      {{#if sectionBreak}}
        <h4 class="section-break-title">{{title}}</h4>
      {{/if}}

      {{#unless sectionBreak}}
      <li>
        <div class="form-group">

        <p {{#if required}}class="required-input"{{/if}}>{{title}}</p>

        {{#ifEquals type 'open'}}
          <input class="form-control" type="text" name="{{title}}" {{#if required}}required{{/if}}>
        {{/ifEquals}}

        {{#ifEquals type 'yn'}}
          {{#each choices}}
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" name="{{../title}}" id="{{choice}}-{{@../index}}" class="custom-control-input" value="{{choice}}" {{#if ../required}}required{{/if}}>
              <label class="custom-control-label" for="{{choice}}-{{@../index}}">{{choice}}</label>

              <input class="points-input" type="hidden" name="points" value="{{level}}" disabled>
            </div>

          {{/each}}
        {{/ifEquals}}

        {{#ifEquals type 'range'}}
          {{#each choices}}
            <div class="custom-control custom-radio">
              <input type="radio" name="{{../title}}" id="{{choice}}-{{@../index}}" class="custom-control-input" value="{{choice}}" {{#if ../required}}required{{/if}}>
              <label class="custom-control-label" for="{{choice}}-{{@../index}}">{{choice}}</label>

              <input class="points-input" type="hidden" name="points" value="{{level}}" disabled>
            </div>
          {{/each}}
        {{/ifEquals}}

        {{#ifEquals type 'quality'}}
          {{#each choices}}
            <div class="custom-control custom-radio">
              <input type="radio" name="{{../title}}" id="{{choice}}-{{@index}}" class="custom-control-input" value="{{choice}}" {{#if ../required}}required{{/if}}>
              <label class="custom-control-label" for="{{choice}}-{{@index}}">{{choice}}</label>

              <input class="points-input" type="hidden" name="points" value="{{level}} disabled">
            </div>
          {{/each}}
        {{/ifEquals}}

        </div>
      </li>
      {{/unless}}
    {{/each}}
    </ol>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script type="text/javascript" src="js/assess.js"></script>
