
<div class="container main">
    
    <h2>Market List</h2>
    <div class="card">
        <div class="card-body">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Market Name</th>
                        <th>Store Type</th> 
                        <th>Zip Code</th>
                        <th>Level</th>
                        <th>Map</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each markets}}
                   
                    <tr>
                        
                            <td>{{name}}</td>

                            <td>{{storeType}}</td>

                            <td>{{address.zip}}</td>

                            <td>{{level}}</td>

                            <td>
                                <button class="mapButton" onclick="window.open('https://www.google.com/maps/dir/?api=1&origin={{name}}&destination={{address.address}}')">
                                <p>Go!</p>
                                </button>
                            </td>
                       
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/markets.js"></script>
