<div class="container main">
  {{#with marketInfo}}

  <h2>{{name}} Assessment (ID {{time}})</h2>

  {{/with}}

  {{#with submission}}

  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-6 col-sm-4">
          <div class="card-title">
            <h5>Submitted by</h5>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="card-title">
            <h5>Timestamp</h5>
          </div>
        </div>
        <div class="d-none d-sm-block col-sm-4 text-right">
          <a href="#" class="btn btn-danger btn-sm delete-assessment-btn">
            Delete Assessment
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-sm-4">
          {{evaluator.first}} {{evaluator.last}}<br>
          <a href="mailto:{{evaluator.email}}">{{evaluator.email}}</a>
        </div>
        <div class="col-6 col-sm-4 time-col">
          {{evaluator.time}}
        </div>
        <div class="col-12 col-sm-4 d-sm-none text-right">
          <br>
          <a href="#" class="btn btn-danger btn-sm delete-assessment-btn">
            Delete Assessment
          </a>

        </div>
      </div>
    </div>
  </div>

  {{/with}}

  <div class="card mt-3">
    <div class="card-body">
      <h3 class="mb-4">Responses</h3>
      <ol>
      {{#each submission.answers}}
      <li>
        <h6>{{q}}</h6>
        <p class="ml-4">{{a}}</p>
      </li>
      {{/each}}
    </ol>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/submission.js"></script>
