<div class="container main">
  {{#if ./isAuthenticated}}
    <div class="text-right mb-4">
      <a href="#" class="btn btn-danger delete-assessment-btn">
        Delete Assessment
      </a>
    </div>
  {{/if}}

  {{#with marketInfo}}

    <h2>{{name}} Assessment (ID {{time}})</h2>

    <div class="row">
      <div class="col-md-6 market-info">

        <div class="card h-100">
          <div class="card-header">
            Market Info
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h5>Address</h5>
                {{address.address}}<br>
                {{address.city}}, {{address.state}} {{address.zip}}
              </div>
              <div class="col-5">
                <h5>Store type</h5>
                {{storeType}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        {{#with ../submission}}
        <div class="card h-100">
          <div class="card-header">
            Submission Details
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-6 {{#if ../isAuthenticated}}col-sm-4{{/if}}">
                <div class="card-title">
                  <h5>Submitted by</h5>
                  {{evaluator.first}} {{evaluator.last}}<br>
                  <a href="mailto:{{evaluator.email}}">{{evaluator.email}}</a>
                </div>
              </div>
              <div class="col-6 {{#if ../isAuthenticated}}col-sm-4{{/if}}">
                <div class="card-title">
                  <h5>Completed on</h5>
                  <span class="time-col">{{evaluator.time}}</span>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- /.card -->
        {{/with}}
      </div>

      <div class="col-12 pt-4">
        <div class="card h-100">
          <div class="card-header">
            Current Market Progress
          </div>
          <div class="card-body text-center ">
            <div class="row">
              <div class="col-3">
                <h4>Level</h4>
                <h1>{{level}}</h1>
              </div>
              {{#if level1progress}}
                <div class="col-3 d-flex align-items-center">
                  <div>
                    <h6>Level 1</h6>
                    {{level1progress}}%
                  </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <div>
                    <h6>Level 2</h6>
                    {{level2progress}}%
                  </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <div>
                    <h6>Level 3</h6>
                    {{level3progress}}%
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

    </div>

  {{/with}}


  <div class="card mt-4">
    <div class="card-body">
      <h3 class="mb-4">Responses</h3>
      <ol>
      {{#each submission.answers}}
      <li>
        <h6>{{q}}</h6>
        <p class="ml-4">{{a}}</p>
      </li>
      {{/each}}
    </ol>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/submission.js"></script>
